 /* Container needed to position the button. Adjust the width as needed */
  
  /* Make the image responsive */
  .display-2{
    text-align: center;
    font-family: sans-serif;
  }

  .imgs {
    width: 80%;
    height: 60%;
  } 
  .btn{
        background-color: rgb(105, 217, 245); /* Green */
        border: none;
        color: rgb(15, 15, 15);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
  
  /* Style the button and place it in the middle of the container/image */
  /* .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  } */
  
 .container .btn:hover {
    background-color: rgb(72, 98, 214);
  } 

body{

    background-color: bisque;
}