<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemForever</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="moodtracking.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">MemForever</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home Page<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/tracking" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tracking
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/daily">Daily Activity</a>
                      <a class="dropdown-item" href="/healthtracking">Health Tracking</a>
                      <a class="dropdown-item" href="/moodtracking">Mood Tracking</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/data">View Your record</a>
                      <a class="dropdown-item" href="/daily/add">Add/Remove Daily Activity</a>
                    </div>
                <li class="nav-item">
                  <a class="nav-link" href="/game">Game</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/map">Map</a>
                </li>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find Nearby Health Care Clinc</button>
              </form>
            </div>
          </nav>
    </header>
<main>
<h1 class="display-2">Tell us about your mood today</h1>
  <!-- <div class="w3-center">
    <div class="w3-bar">
      <button class="w3-button w3-black">Button</button>
      <button class="w3-button w3-teal">Button</button>
      <button class="w3-button w3-disabled">Button</button>
    </div> -->
    <br>
    <br>
    <br>
    </div> 
    <div class="container">
      <div class ='row'>
        <div class ='col'>
      <img src="sad-face.png" class = imgs alt="sad">
      <button class="btn">click</button>
      </div>
      <div class ='col'>
      <img src="happy-face.png" class = imgs alt="happy">
      <button class="btn">click</button>
      </div>
      <div class ='col'>
      <img src="angry-face.png" class = imgs alt="angry">
      <button class="btn">click</button>
    </div>
    </div> 
  </div>
</main>

<footer>
    <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="dom.js"></script>
</footer>
</body>
</html>